[user]
	name = iLeond
	email = david232@live.com.mx
[credential]
	helper = cache --timeout=3600
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
