[Desktop Entry]
Name=SetAsPro
Comment=Set Robot Type As Pro
Encoding=UTF-8
Exec=/home/hiwonder/factory/set_robot_type.sh PRO
Terminal=true
MultipleArgs=false
Categories=Application;Development;
Type=Application
